.digit {
    width: 18vmin;
    display: flex;
    flex-direction: column;
}

.digit .vertical_area {
    height: 12vmin;
    display: flex;
    justify-content: space-between;
    align-items: center
}

.digit .vertical_area .vertical_line.line_on {
    width: 2vmin;
    height: 11vmin;
    background-color: green;
    position: relative;
}

.digit .vertical_area .vertical_line.line_on::before {
    content: "";
    position: absolute;
    top: -1vmin;
    width: 0;
    height: 0;
    border: 1vmin solid transparent;
    border-bottom-color: green;
    border-top: 0;
}

.digit .vertical_area .vertical_line.line_on::after {
    content: "";
    position: absolute;
    top: 100%;
    width: 0;
    height: 0;
    border: 1vmin solid transparent;
    border-top-color: green;
    border-bottom: 0;
}

.digit .horizontal_area {
    height: 2vmin;
    display: flex;
    justify-content: center;
}

.digit .horizontal_area .horizontal_line.line_on {
    width: 13vmin;
    background-color: green;
    position: relative;
}

.digit .horizontal_area .horizontal_line.line_on::before {
    content: "";
    position: absolute;
    left: -1vmin;
    width: 0;
    height: 0;
    border: 1vmin solid transparent;
    border-right-color: green;
    border-left: 0;
}

.digit .horizontal_area .horizontal_line.line_on::after {
    content: "";
    position: absolute;
    left: 100%;
    width: 0;
    height: 0;
    border: 1vmin solid transparent;
    border-left-color: green;
    border-right: 0;
}

.digit .vertical_area .vertical_line.line_off {
    width: 2vmin;
    height: 11vmin;
    background-color: lightgray;
    position: relative;
}

.digit .vertical_area .vertical_line.line_off::before {
    content: "";
    position: absolute;
    top: -1vmin;
    width: 0;
    height: 0;
    border: 1vmin solid transparent;
    border-bottom-color: lightgray;
    border-top: 0;
}

.digit .vertical_area .vertical_line.line_off::after {
    content: "";
    position: absolute;
    top: 100%;
    width: 0;
    height: 0;
    border: 1vmin solid transparent;
    border-top-color: lightgray;
    border-bottom: 0;
}

.digit .horizontal_area .horizontal_line.line_off {
    width: 13vmin;
    background-color: lightgray;
    position: relative;
}

.digit .horizontal_area .horizontal_line.line_off::before {
    content: "";
    position: absolute;
    left: -1vmin;
    width: 0;
    height: 0;
    border: 1vmin solid transparent;
    border-right-color: lightgray;
    border-left: 0;
}

.digit .horizontal_area .horizontal_line.line_off::after {
    content: "";
    position: absolute;
    left: 100%;
    width: 0;
    height: 0;
    border: 1vmin solid transparent;
    border-left-color: lightgray;
    border-right: 0;
}