<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="clockface.css">
    <title>Document</title>
</head>
<body>

    <div id="clockface">
        <div class="digit">
            <div class="horizontal-area">
                <div class="horizontal-line"></div>
            </div>
            <div class="vertical-area">
                <div class="vertical-line"></div>
                <div class="vertical-line"></div>
            </div>
            <div class="horizontal-area">
                <div class="horizontal-line"></div>
            </div>
            <div class="vertical-area">
                <div class="vertical-line"></div>
                <div class="vertical-line"></div>
            </div>
            <div class="horizontal-area">
                <div class="horizontal-line"></div>
            </div>
        </div>
        
        <div class="digit">
            <div class="horizontal-area">
                <div class="horizontal-line"></div>
            </div>
            <div class="vertical-area">
                <div class="vertical-line"></div>
                <div class="vertical-line"></div>
            </div>
            <div class="horizontal-area">
                <div class="horizontal-line"></div>
            </div>
            <div class="vertical-area">
                <div class="vertical-line"></div>
                <div class="vertical-line"></div>
            </div>
            <div class="horizontal-area">
                <div class="horizontal-line"></div>
            </div>
        </div>

        <div class="points">
            <div class="point"></div>
            <div class="point"></div>
        </div>

        <div class="digit">
            <div class="horizontal-area">
                <div class="horizontal-line"></div>
            </div>
            <div class="vertical-area">
                <div class="vertical-line"></div>
                <div class="vertical-line"></div>
            </div>
            <div class="horizontal-area">
                <div class="horizontal-line"></div>
            </div>
            <div class="vertical-area">
                <div class="vertical-line"></div>
                <div class="vertical-line"></div>
            </div>
            <div class="horizontal-area">
                <div class="horizontal-line"></div>
            </div>
        </div>

        <div class="digit">
            <div class="horizontal-area">
                <div class="horizontal-line"></div>
            </div>
            <div class="vertical-area">
                <div class="vertical-line"></div>
                <div class="vertical-line"></div>
            </div>
            <div class="horizontal-area">
                <div class="horizontal-line"></div>
            </div>
            <div class="vertical-area">
                <div class="vertical-line"></div>
                <div class="vertical-line"></div>
            </div>
            <div class="horizontal-area">
                <div class="horizontal-line"></div>
            </div>
        </div>
    </div>
</body>
</html>