#clockface {
    width: 90vmin;
    height: 30vmin;
    display: flex;
    justify-content: space-between;
}

#clockface .digit {
    width: 18vmin;
    display: flex;
    flex-direction: column;
}

#clockface .digit .vertical-area {
    height: 12vmin;
    display: flex;
    justify-content: space-between;
    align-items: center
}

#clockface .digit .vertical-area .vertical-line {
    width: 2vmin;
    height: 11vmin;
    background-color: green;
    position: relative;
}

#clockface .digit .vertical-area .vertical-line::before {
    content: "";
    position: absolute;
    top: -1vmin;
    width: 0;
    height: 0;
    border: 1vmin solid transparent;
    border-bottom-color: steelblue;
    border-top: 0;
}

#clockface .digit .vertical-area .vertical-line::after {
    content: "";
    position: absolute;
    top: 100%;
    width: 0;
    height: 0;
    border: 1vmin solid transparent;
    border-top-color: steelblue;
    border-bottom: 0;
}

#clockface .digit .horizontal-area {
    height: 2vmin;
    display: flex;
    justify-content: center;
}

#clockface .digit .horizontal-area .horizontal-line {
    width: 13vmin;
    background-color: green;
    position: relative;
}

#clockface .digit .horizontal-area .horizontal-line::before {
    content: "";
    position: absolute;
    left: -1vmin;
    width: 0;
    height: 0;
    border: 1vmin solid transparent;
    border-right-color: steelblue;
    border-left: 0;
}

#clockface .digit .horizontal-area .horizontal-line::after {
    content: "";
    position: absolute;
    left: 100%;
    width: 0;
    height: 0;
    border: 1vmin solid transparent;
    border-left-color: steelblue;
    border-right: 0;
}

#clockface .points {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#clockface .points .point {
    background-color: green;
    width: 2vmin;
    height: 2vmin;
}

